:root {
    --canvas: #ffffff;
}

:root.night-mode, .nightMode {
    --canvas: #000000;
}

.markdown-body {
    font-size: 20px;
    text-align: center;
    background-color: var(--canvas);
}

blockquote {
    text-align: left;
}

.supply-context {
    margin-top: 50px;
    font-size: 18px;
}

.original {
    opacity: 0;
}

pre code[class*="language-"] {
    /* white-space: pre-wrap; */
    font-size: 16px;
}

.markmap {
    width: 100%;
    min-height: 400px;
    position: relative;
    background-color: var(--canvas);
}

.markmap > svg {
    display: block;
    width: 100%;
    height: 100%;
}

.nightMode .markmap {
    --markmap-code-bg: #1a1b26;
    --markmap-code-color: #ddd;
    --markmap-circle-open-bg: #444;
    --markmap-text-color: #eee;
}

.cloze {
    font-weight: bold;
    color: blue !important;
}
.nightMode .cloze {
    color: #6e93e8 !important;
}